.list-item {
    display: flex;
    justify-content: space-between;
}

.list-item span:hover {
    cursor: pointer;
}

.icon {
    font-size: 24px;
    color: grey;
}

.icon:hover {
    cursor: pointer;
    color: black;
}

.icon.fa.fa-trash {
    margin-right: 10px; 
}